node_modules
package-lock.json
yarn.lock

.DS_Store
.cache
.alchemy/
.env
.env.*
!.env.example
!.env.production.example
.dev.vars*
dist/
.vercel
.output
.vinxi

/build/
/api/
/server/build
/public/build
.vinxi
